

#Hardhat files
cache
cache_hardhat
artifacts

.idea/

mnemonic.txt

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/80001/
/broadcast/*/11155111/
/broadcast/*/8453/
/broadcast/*/137/
/broadcast/**/dry-run/

# Dotenv file
.env

# Misc local files and node 
node_modules
.npm
.cache
.local
.DS_Store

# docs
# docs/*
# !docs/preprocess_summary.py
docs/.gitignore
