

#Hardhat files
cache
cache_hardhat
artifacts

.idea/

mnemonic.txt

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/137/
/broadcast/**/dry-run/

# Dotenv file
.env

# Misc local files and node 
node_modules
.npm
.cache
.local
.DS_Store

# docs
docs/*
!docs/preprocess_summary.py